<h3 style="margin-top: 1em;">TuSegundazo.com</h3>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <img src="../assets/images/TuSegundaso.jpg" style="width: 100%;">
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col-12"><hr></div>
  </div>
  <app-listado-vehiculos></app-listado-vehiculos>
</div>
<footer>
  <div style="width: 100%; text-align:center">
    Contact us: +573102105253 - info@tusegundazo.com - @tusegundazo
  </div>
</footer>

